/*
!/Default
!/Default/*
!/User
!/User/*
/User/Color\ Highlighter
/User/rbql_table_index
!/.gitignore
!/README.md

*.cache
*.last-run
*cache.json
*ca-bundle*
*ca-certs*
*ca-list*
*.sublime-workspace
*.SublimeREPLHistory
