/**
 * ${saved_filename}
 * @authors ${author} (${email})
 * @date    ${date}
 * @link    ${link}
 */

#include <iostream>$1
using namespace std;$2

int main(int argc, char *argv[]) {$0
    return 0;
}
