cmake_minimum_required(VERSION 3.0.0)
project($1)

set(CMAKE_CXX_FLAGS "-isystem src -std=c++14 -g -Wall -Wextra -pthread")
set(GTEST_LIB /usr/lib/libgtest.a /usr/lib/libgtest_main.a)

add_executable($0)
