<?php
/**
 * ${saved_filename}
 * @authors ${author} (${email})
 * @date    ${date}
 * @link    ${link}
 */

class ${1:ClassName} ${2:extends ${3:AnotherClass}} {
    $4
    function __construct(){
        $0
    }
}
